
@using SySIntegral.Core.Application.Common.Utils
@model IList<SySIntegral.Web.Areas.Admin.Controllers.DateTotal>

<ul class="list-group counter-list">

    @foreach (var record in Model.ToList())
    {
        <li class="list-group-item">

            <div class="d-flex">
                <div class="mr-auto">
                    @record.Date.ToString("d")
                    @if (record.Date.IsToday())
                    {
                        <span> (hoy)</span>
                    }
                    @if (record.Date.IsYesterday())
                    {
                        <span> (ayer)</span>
                    }
                </div>
                <div class="counter-white rounded text-center">@record.Totals.WhiteEggsCount.ToString("N0")</div>
                <div class="counter-color rounded ml-1 text-center">@record.Totals.ColorEggsCount.ToString("N0")</div>
            </div>

        </li>
    }
    
    <li class="list-group-item">

        <div class="d-flex">
            <div class="mr-auto">
                <h2>TOTAL</h2>
            </div>
            <div class="counter-white rounded text-center d-flex align-items-center justify-content-center"><strong>@Model.Sum(x => x.Totals.WhiteEggsCount).ToString("N0")</strong></div>
            <div class="counter-color rounded ml-1 text-center d-flex align-items-center justify-content-center"><strong>@Model.Sum(x => x.Totals.ColorEggsCount).ToString("N0")</strong></div>
        </div>

    </li>

</ul>