
@using SySIntegral.Core.Application.Common.Utils
@model IList<SySIntegral.Core.Repositories.EggsRegistry.RegistryDateTotalsDto>

@{
    var dailyGroups = Model.GroupBy(x => x.RegistryDate).ToList();
}

@foreach (var day in dailyGroups.ToList())
{
    var assetCount = day.Select(x => x.AssetName).Distinct().Count();
    foreach (var assetDevices in day.GroupBy(x => x.AssetName))
    {
        <div class="card mb-2 p-1">
            <table class="table table-sm table-condensed table-borderless">
                <tbody>
                    <tr>
                        <td colspan="4">
                            <strong>
                                @day.Key.ToString("d") @if (day.Key.IsToday())
                                {
                                    <span> (hoy)</span>
                                }
                                @if (day.Key.IsYesterday())
                                {
                                    <span> (ayer)</span>
                                }
                            </strong> - @assetDevices.Key
                        </td>

                    </tr>
                    @foreach (var device in assetDevices)
                    {
                        <tr>
                            <td style="width: 46%;">@device.DeviceDescription</td>
                            <td style="width: 18%;" class="text-right">@device.WhiteEggsCount.ToString("N0")</td>
                            <td style="width: 18%;" class="text-right text-egg-color">@device.ColorEggsCount.ToString("N0")</td>
                            <td style="width: 18%;" class="text-right font-weight-bold">@((device.WhiteEggsCount + device.ColorEggsCount).ToString("N0"))</td>
                        </tr>


                    }
                    @if (assetDevices.Count() > 1)
                    {
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="3" class="text-right font-weight-bolder border-top">@((assetDevices.Sum(x => x.WhiteEggsCount) + assetDevices.Sum(x => x.ColorEggsCount)).ToString("N0"))</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    @if (assetCount > 1)
    {
        <div class="card mb-3 p-1 text-right"><div><span>Total @day.Key.ToString("d")</span> <span class="font-weight-bolder ml-4">@((day.Sum(x => x.WhiteEggsCount) + day.Sum(x => x.ColorEggsCount)).ToString("N0"))</span></div></div>
    }
    }


    <div class="card mb-1 p-1 bg-light">
        <table class="table table-borderless table-condensed mb-0">
            <tbody>
                <tr>
                    <td>
                        <h2 class="mb-0 grand-total" style="width: 46%;">TOTAL</h2>
                    </td>
                    <td align="center" style="vertical-align: middle; width: 18%;" class="text-right">@(Model.Sum(x => x.WhiteEggsCount).ToString("N0"))</td>
                    <td align="center" style="vertical-align: middle; width: 18%;" class="text-right text-egg-color">@(Model.Sum(x => x.ColorEggsCount).ToString("N0"))</td>
                    <td align="center" style="vertical-align: middle; width: 18%;" class="text-right font-weight-bold">@(   (Model.Sum(x => x.WhiteEggsCount) + Model.Sum(x => x.ColorEggsCount)).ToString("N0")   )</td>
                </tr>
            </tbody>
        </table>
    </div>



    <ul class="list-group counter-list">

        @*@foreach (var record in Model.ToList())
            {
                <li class="list-group-item">

                    <div class="d-flex">
                        <div class="mr-auto">
                            @record.Date.ToString("d")
                            @if (record.Date.IsToday())
                            {
                                <span> (hoy)</span>
                            }
                            @if (record.Date.IsYesterday())
                            {
                                <span> (ayer)</span>
                            }
                        </div>
                        <div class="counter-white rounded text-center">@record.Totals.WhiteEggsCount.ToString("N0")</div>
                        <div class="counter-color rounded ml-1 text-center">@record.Totals.ColorEggsCount.ToString("N0")</div>
                    </div>

                </li>
            }*@




        @*@foreach (var record in Model.ToList())
            {
                <li class="list-group-item">

                    <div class="row">
                        <div class="col-5 col-lg-8">
                            <div class="mr-auto">
                                @record.RegistryDate.ToString("d")
                                @if (record.RegistryDate.IsToday())
                                {
                                    <span> (hoy)</span>
                                }
                                @if (record.RegistryDate.IsYesterday())
                                {
                                    <span> (ayer)</span>
                                }
                            </div>
                        </div>
                        <div class="col-7 col-lg-4">
                            <div class="d-flex">

                                <div class="flex-fill text-right justify-content-end">
                                    <div>@record.WhiteEggsCount.ToString("N0")</div>
                                    <div class="text-egg-color">@record.ColorEggsCount.ToString("N0")</div>
                                </div>
                                <div class=" d-flex flex-fill  text-right justify-content-end"><strong>@((record.WhiteEggsCount + record.ColorEggsCount).ToString("N0"))</strong></div>
                            </div>
                        </div>
                    </div>

                </li>
            }*@

        @*<li class="list-group-item bg-light">

                <div class="row ">
                    <div class="col-5 col-lg-8">
                        <div class="mr-auto">
                            <h2>TOTAL</h2>
                        </div>
                    </div>
                    <div class="col-7 col-lg-4">
                        <div class="d-flex">
                            @{
                                var totalWhite = Model.Sum(x => x.WhiteEggsCount);
                                var totalColor = Model.Sum(x => x.ColorEggsCount);
                                var grandTotal = totalWhite + totalColor;
                            }
                            <div class="flex-fill text-right justify-content-end">
                                <div>@totalWhite.ToString("N0")</div>
                                <div class="text-egg-color">@totalColor.ToString("N0")</div>
                            </div>
                            <div class=" d-flex flex-fill  text-right justify-content-end"><h5><strong>@grandTotal.ToString("N0")</strong></h5></div>
                        </div>
                    </div>
                </div>

            </li>*@

    </ul>
