
@using SySIntegral.Core.Application.Common.Utils
@model IList<SySIntegral.Core.Repositories.EggsRegistry.RegistryEntryDto>

@{
    var dailyGroups = Model.GroupBy(x => x.RegistryDate).ToList();
}

@foreach (var day in dailyGroups.ToList())
{
    var assetCount = day.Select(x => x.AssetName).Distinct().Count();
    foreach (var assetDevices in day.GroupBy(x => x.AssetName))
    {
        <div class="card mb-2 p-1">
            <table class="table table-sm table-condensed table-borderless">
                <tbody>
                    <tr>
                        <td colspan="4">
                            <strong>
                                @day.Key.ToString("d") @if (day.Key.IsToday())
                                {
                                    <span> (hoy)</span>
                                }
                                @if (day.Key.IsYesterday())
                                {
                                    <span> (ayer)</span>
                                }
                            </strong> - @assetDevices.Key
                        </td>

                    </tr>
                    @foreach (var device in assetDevices)
                    {
                        <tr>
                            <td style="width: 46%;">@device.DeviceDescription</td>
                            <td style="width: 18%;" class="text-right">@device.WhiteEggsCount.ToString("N0")</td>
                            <td style="width: 18%;" class="text-right text-egg-color">@device.ColorEggsCount.ToString("N0")</td>
                            <td style="width: 18%;" class="text-right font-weight-bold">@((device.WhiteEggsCount + device.ColorEggsCount).ToString("N0"))</td>
                        </tr>


                    }
                    @if (assetDevices.Count() > 1)
                    {
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="3" class="text-right font-weight-bolder border-top">@((assetDevices.Sum(x => x.WhiteEggsCount) + assetDevices.Sum(x => x.ColorEggsCount)).ToString("N0"))</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    @if (assetCount > 1)
    {
        <div class="card mb-3 p-1 text-right"><div><span>Total @day.Key.ToString("d")</span> <span class="font-weight-bolder ml-4">@((day.Sum(x => x.WhiteEggsCount) + day.Sum(x => x.ColorEggsCount)).ToString("N0"))</span></div></div>
    }
    }


    <div class="card mb-1 p-1 bg-light">
        <table class="table table-borderless table-condensed mb-0">
            <tbody>
                <tr>
                    <td>
                        <h2 class="mb-0 grand-total" style="width: 46%;">TOTAL</h2>
                    </td>
                    <td align="center" style="vertical-align: middle; width: 18%;" class="text-right">@(Model.Sum(x => x.WhiteEggsCount).ToString("N0"))</td>
                    <td align="center" style="vertical-align: middle; width: 18%;" class="text-right text-egg-color">@(Model.Sum(x => x.ColorEggsCount).ToString("N0"))</td>
                    <td align="center" style="vertical-align: middle; width: 18%;" class="text-right font-weight-bold">@(   (Model.Sum(x => x.WhiteEggsCount) + Model.Sum(x => x.ColorEggsCount)).ToString("N0")   )</td>
                </tr>
            </tbody>
        </table>
    </div>



