@using SySIntegral.Core.Application.Common.Utils
@model SySIntegral.Web.Areas.Admin.Controllers.RegistriesController.RegistriesModel
@{
    ViewData["Title"] = "Registros";
    var todaysTotals = Model.TodaysTotals;
    var todaysWhiteCounter = todaysTotals != null ? todaysTotals.WhiteEggsCount : 0;
    var todaysColorCounter = todaysTotals != null ? todaysTotals.ColorEggsCount : 0;
    var totalSum = todaysWhiteCounter + todaysColorCounter;
}


@*<a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="Roles" asp-action="Create">Crear Role</a>*@
<div class="registries-container">
    <h2>@(todaysTotals != null ? todaysTotals.RegistryDate.ElapsedTimeInWords() : "Última lectura")</h2>

    <div class="row no-gutters">
        <div class="col">
            <div class="card mr-1 counter counter-white">
                <div class="card-body">
                    @*<h5 class="card-title text-center">Blancos</h5>*@
                    <h2 class="card-text text-center"><strong>@todaysWhiteCounter.ToString("N0")</strong></h2>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card ml-1 counter counter-color">
                <div class="card-body">
                    @*<h5 class="card-title text-center">Color</h5>*@
                    <h2 class="card-text text-center"><strong>@todaysColorCounter.ToString("N0")</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <div class="card mt-1 counter counter-white">
                <div class="card-body">
                    <h6 class="text-center m-0">TOTAL</h6>
                    <h1 class="card-text text-center"><strong>@totalSum.ToString("N0")</strong></h1>

                </div>
            </div>
        </div>
       
    </div>
    <button id="RefreshPage" class="btn btn-sm btn-info mt-1" name="RefreshPage">
        <i class="bi bi-arrow-clockwise"></i>
        Refrescar
    </button>
    <hr />

    <div id="reportrange" style="background: #fff; cursor: pointer; padding: 10px 10px; border: 2px solid #ccc; width: 100%">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down"></i>
    </div>

    <hr />
    <h2>Totales Por Día</h2>
    @*<div class="table-responsive-md">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Huevos Blancos</th>
                        <th>Huevos Color</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.DateTotals)
                    {
                        <tr>
                            <td>@record.Date.ToString("d")</td>
                            <td>@record.Totals.WhiteEggsCount</td>
                            <td>@record.Totals.ColorEggsCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>*@


    <div id="dailyRegistriesContainer">
        @Html.Partial("_DailyRegistriesList", Model.DateTotals)
    </div>

    <hr />
    <h2>Registros</h2>
    Mostrando @Model.Registries.Count de @Model.TotalRecords registros.
    <div class="table-responsive-md">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Dispositivo</th>
                    <th>Huevos Blancos</th>
                    <th>Huevos Color</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.Registries)
                {
                    <tr>
                        <td style="font-size: 12px;">
                            <div>@record.Device.UniqueId</div>
                            <div>(@record.Device.Description)</div>
                        </td>
                        <td>@record.WhiteEggsCount</td>
                        <td>@record.ColorEggsCount</td>
                        <td>@(record.ReadTimestamp.HasValue ? record.ReadTimestamp.Value.ToString("g") : "VACÍO")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
@section Scripts
{
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>*@
    <script src="~/js/daterangepicker.js"></script>
    @*<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />*@
    <link href="~/css/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/css/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#RefreshPage').click(function () {
                console.debug("refreshing");
                window.location.reload();
            });

            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                //console.debug("EV", ev);
                //console.debug("PICKER", picker);
                //console.debug("start:", picker.startDate);
                //console.debug("end:", picker.endDate);
                console.log("apply event fired, start/end dates are " + picker.startDate.format('YYYY-MM-DD') + " to " + picker.endDate.format('YYYY-MM-DD'));

                $.post("Registries/filter", {
                    startDate: picker.startDate.format('YYYY-MM-DD'),
                    endDate: picker.endDate.format('YYYY-MM-DD'),
                    }, function (data,status) {
                    console.debug("Data: ", data, status);
                    $('#dailyRegistriesContainer').html(data);
                });
            });

            var start = moment().subtract(6, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                showDropdowns: true,
                minYear: 2020,
                maxYear: @DateTime.Now.AddYears(5).Year,
                startDate: start,
                endDate: end,
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Últimos 7 Días': [moment().subtract(6, 'days'), moment()],
                    'Últimos 30 Días': [moment().subtract(29, 'days'), moment()],
                    'Éste Mes': [moment().startOf('month'), moment().endOf('month')],
                    'Mes Anterior': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                locale: {
                    applyLabel: "Aplicar",
                    cancelLabel: "Cancelar",
                    fromLabel: "Desde",
                    toLabel: "Hasta",
                    customRangeLabel: "Elegir Fecha",
                    daysOfWeek: [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    monthNames: [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Setiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                }
            }, cb);

            cb(start, end);

        });
    </script>


}
