@model SySIntegral.Web.Areas.Admin.Controllers.RegistriesController.RegistriesModel
@{
    ViewData["Title"] = "Registros";
}


@*<a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="Roles" asp-action="Create">Crear Role</a>*@
<h2>Totales</h2>
<div class="table-responsive-md">
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Huevos Blancos</th>
            <th>Huevos Color</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var record in Model.DateTotals)
        {
            <tr>
                <td>@record.Date.ToString("d")</td>
                <td>@record.Totals.WhiteEggsCount</td>
                <td>@record.Totals.ColorEggsCount</td>
            </tr>
        }
        </tbody>
    </table>
</div>


<hr/>
<h1>Registros</h1>
Mostrando @Model.Registries.Count de @Model.TotalRecords registros.
<div class="table-responsive-md">
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>Dispositivo</th>
            <th>Huevos Blancos</th>
            <th>Huevos Color</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var record in Model.Registries)
    {
        <tr>
            <td>@record.DeviceId</td>
            <td>@record.WhiteEggsCount</td>
            <td>@record.ColorEggsCount</td>
            <td>@(record.ReadTimestamp.HasValue ? record.ReadTimestamp.Value.ToString("g") : "VACÍO")</td>
        </tr>
    }
    </tbody>
</table>
</div>
