@page
@using SySIntegral.Core.Entities.Users
@model IndexModel

@inject ICurrentUser currentUser

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">SySIntegral Admin</h1>
    <a class="mt-5 btn btn-lg btn-primary" asp-area="Admin" asp-controller="Registries" asp-action="Index" >Ver Registros</a>
</div>

<ul>
    <li>Name: @currentUser.Name</li>
    <li>Organization ID: @currentUser.GetOrganizationId()</li>
    <li>Is Limited By Organization ID: @currentUser.IsLimitedByOrganization()</li>
    <li>Email: @currentUser.GetUserEmail()</li>
    <li>User Id: @currentUser.GetUserId()</li>
    <li>Authenticated?: @currentUser.IsAuthenticated()</li>
</ul>

