@page
@using SySIntegral.Core.Entities.Users
@model IndexModel

@inject ICurrentUser currentUser

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">SySIntegral Admin</h1>
    
</div>

@*<ul>
    <li>Name: @currentUser.Name</li>
    <li>Org: @currentUser.GetOrganizationId()</li>
    <li>Email: @currentUser.GetUserEmail()</li>
    <li>User Id: @currentUser.GetUserId()</li>
    <li>Authenticated?: @currentUser.IsAuthenticated()</li>
</ul>*@

