@using SySIntegral.Web.Areas.Admin.Controllers
@using SySIntegral.Core.Entities.CheckPoints
@using SySIntegral.Core.Services.Reports.Dto
@model SySIntegral.Core.Services.Reports.Dto.CheckPointDailyCounts

@foreach (var line in Model.GroupByLine())
{
    var days = line.CheckPoints.FirstOrDefault(x => x.CheckPointType == CheckPointType.Aggregator).GetUniqueDates();
    foreach (var date in days)
    {
        <div class="font-weight-bold border-top mt-1 pt-1">Día: @date.ToString("d")</div>
        <ul class="regtree">
            @foreach (var checkPoint in Enumerable.Reverse(line.CheckPoints))
            {
                RenderItem(checkPoint, date);
            }
        </ul>
    }
}

@functions {
    public void RenderItem(CheckPointDto item, DateTime date)
    {
        <li>
            <div class="text-center" style="background-color: #f4f4f4;">@item.Name</div>

            @if (item.CheckPointType != CheckPointType.Aggregator)
            {
                <div class="text-right counter">Parcial: @item.GetPartialCount(date).ToString("N0")</div>
            }
            else
            {
                <div>&nbsp;</div>
            }

            <div class="text-right counter @(item.CheckPointType == CheckPointType.Aggregator ? "font-weight-bold" : "")">Acumulado: @item.GetAggregatedCount(date).ToString("N0")</div>

        </li>

        @if (item.CheckPointType != CheckPointType.Aggregator)
        {
            <li class="arrow-separator"><i class="bi bi-arrow-right"></i></li>
        }

    }

}