@model IEnumerable<SySIntegral.Core.Entities.Users.ApplicationUser>
@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>
<a class="btn btn-primary btn-sm" asp-area="Admin" asp-controller="Users" asp-action="Create">Crear Usuario</a>

<div class="table-responsive-md mt-2">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Email</td>
                <td>Organización</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Organization.Name</td>
                    <td>
                        <a class="btn btn-sm btn-primary" aria-controlsstyle="display: inline-block" asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">
                            Editar
                        </a>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post" style="display: inline-block">
                            <button type="submit" onclick="return confirm('Confirma borrar éste usuario?')" class="btn btn-sm btn-danger" style="display: inline-block">
                                Borrar
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
